/* Amalfi Coast */
@font-face {
  font-family: 'Amalfi Coast';
  src: url('Amalfi Coast.ttf');
}

/* Austria */
@font-face {
  font-family: 'Austria';
  src: url('Austria.ttf');
}

/* Heavitas */
@font-face {
  font-family: 'Heavitas';
  src: url('Heavitas.ttf');
}

/* Roboto */
@font-face {
  font-family: 'Roboto';
  src: url('Roboto.ttf');
}